<!--<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">-->
<!--<link rel="stylesheet" type="text/css" th:href="@{/style.css}">-->

<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <table class="table">
        <thead class="table-dark">
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성일시</th>
            <th>답변</th>
        </tr>
        </thead>
        <tbody>
        <tr class="content" th:each="question, loop : ${questionList}">
            <td th:text="${loop.count}"></td>
            <td>
                <a th:href="@{|/question/detail/${question.id}|}" th:text="${question.subject}"></a>
            </td>
            <td th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}"></td>
            <td th:text="|(${question.answerList.size})|"></td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/question/create}" class="btn btn-primary">질문 등록하기</a>
</div>
</html>