    <h2 th:text="|제목 : ${question.subject}|"></h2>
    <div th:text="|내용 : ${question.content}|"></div>
    <br/>
    <h5 th:text="|${#lists.size(question.answerList)}개의 답변이 있습니다.|"></h5>
    <div>
        <ul>
            <li th:each="answer : ${question.answerList}" th:text="${answer.content}"></li>
        </ul>
    </div>
    <div style="font-weight:bold"> - 답변 등록하기 -</div>
    <form th:action="@{|/answer/create/${question.id}|}" method="post">
        <textarea name="content" id="content" rows="15" style="width:350px"></textarea>
        <input type="submit" value="답변등록">
    </form>
<!--    <button th:action="{/question/list}">돌아가기</button>-->